* {
  box-sizing: border-box;
  margin: 0;
}

.flex-column-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  background-color: black;
  cursor: default;
  font-family: 'Londrina Solid', sans-serif;
  height: 100vh;
  position: relative;
  z-index: 1;
}

body::before {
  background: url('./assets/tabletop.jpeg');
  background-size: cover;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

header {
  color: rgb(22, 8, 2);
  font-size: 9vmin;
  font-weight: bold;
  letter-spacing: 3vmin;
  margin-top: -2vmin;
}

#console {
  color: rgb(210, 175, 139);
}

#game-state-message {
  font-size: 3.5vmin;
  font-weight: 100;
  letter-spacing: 0.1vmin;
  margin-top: 4vmin;
}

.player-label {
  font-size: 2.5vmin;
  font-weight: 100;
  letter-spacing: 0.1vmin;
  text-align: center;
}

.player-name {
  font-weight: 600;
}

.player-pieces {
  font-size: 7.5vmin;
  font-weight: 600;
}

#board {
  background-color: white;
  box-shadow: 0 0 3vmin 1vmin black;
  display: grid;
  gap: 0.2vmin;
  grid-template: repeat(8, 7.3vmin) / repeat(8, 7.3vmin);
  margin: 4vmin 6vw;
  padding: 0.4vmin;
}

.black {
  background-color: rgba(0, 0, 0, 0.8);
}

.red {
  background-color: rgba(255, 0, 0, 0.7) !important;
}

.chooseable {
  cursor: pointer;
  transition: 0.05s ease-in-out;
}  

.chooseable:hover {
  box-shadow: 0 0 1vmin yellow;
}    

.chooseable:active {
  box-shadow: 0 0 2vmin yellow;
  transform: scale(0.925);
}

.legal-move {
  border: 0.5vmin solid green;
  transition: 0.05s ease-in-out;
}

.legal-move:hover {
  box-shadow: 0 0 1vmin green;
  transform: scale(0.925);
}

button {
  background-color: rgb(22, 8, 2);
  border: none;
  border-radius: 1.5vmin;
  color: rgb(210, 175, 139);
  cursor: pointer;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 2vmin;
  font-weight: 100;
  letter-spacing: 0.1vmin;
  margin: 3vmin 2.5vmin 0;
  padding: 1.5vmin;
  transition: 0.1s ease-in-out;
  width: 27vmin;
}

button:hover {
  background-color: rgb(210, 175, 139);
  color: rgb(22, 8, 2);
  font-weight: 600;
  transform: scale(1.1);
}
